/* GENERAL */
body {
  color: #323232;
  background-color: #eeefed;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

.menu li {
  display: flex;
  align-items: center;
}

.bi {
  vertical-align: middle;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*CONTACT */
.contact-bar,
.personal a {
  color: #fff;
}

.contact-bar {
  color: #fff;
  background-color: #39a3d4;
  height: 84px;
  font-size: 14px;
}

.contact-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.personal {
  display: flex;
  align-items: center;
  gap: 70px;
}

.social {
  display: flex;
  align-items: center;
  gap: 2px;
}

.personal .bi {
  font-size: 28px;
  margin-right: 8px;
}

.social .bi {
  font-size: 17px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #989898;
  background-color: #eeefed;
  border-radius: 2px;
  transition:
    color 0.3s,
    background 0.3s;
}

.social-icon:hover,
.social-icon:focus {
  color: #fff;
  background: #5bd0ec;
}

/* NAVIGATION */

.nav-bar {
  background-color: #f2f2f2;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: block;
  background: url(../img/logo2.png) 0 0 no-repeat;
  width: 186px;
  height: 31px;
  text-indent: -9999px;
  margin-top: 24px;
}

.navigation {
  display: flex;
}

.navigation .bi {
  display: block;
  padding-bottom: 10px;
}

.navigation li {
  border-left: 1px solid #cecece;
}

.navigation li:last-child {
  border-right: 1px solid #cecece;
}

.navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a6a6a6;
  width: 136px;
  height: 120px;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
  color: #de5728;
}

/* ARTICLE */

.text-center {
  text-align: center;
}
.post-header {
  height: 166px;
  background: url(../images/cover.jpg) center -200px no-repeat;
}
.post-title {
  color: #fff;
  background-color: #de5728;
  font-size: 45px;
  font-weight: 600;
  padding: 18px 24px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-radius: 7px;
  letter-spacing: -2px;
  margin-top: 36px;
}
.post-content {
  padding-bottom: 50px;
  .post-content h2 {
    color: #323232;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
  }
  .controls {
    width: 642px;
    margin: 50px auto;
    text-align: center;
  }
  .controls a {
    font-size: 22px;
    font-weight: 300;
    color: #39a3d4;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 48px;
  }

  .controls a:hover,
  .controls a:focus,
  .controls .selected a {
    color: #fff;
    background-color: #39a3d4;
    border-radius: 4px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }
}

/* PRE-FOOTER */

.pre-footer {
  color: #fff;
  background: #323232;
  text-align: center;
}

.pre-footer .container {
  width: 400px;
  padding: 40px 0 60px 0;
}

.pre-footer p {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.pre-footer strong {
  font-size: 22px;
  font-weight: 600;
  text-transform: none;
}

.pre-footer .personal {
  justify-content: center;
  gap: 60px;
}

.pre-footer .personal li {
  margin-right: 0;
}

.pre-footer .personal .bi {
  margin-right: 8px;
}

/* FOOTER */

footer {
  color: #a6a6a6;
  font-size: 14px;
}
footer .container {
  background-color: url(../img/logo2.png) left center no repeat;
}
footer p {
  color: #a6a6a6;
  float: left;
  padding-left: 200px;
}
footer p a {
  color: #e75652;
  font-weight: 600;
}
footer p,
footer .menu {
  margin: 32px 0 32px 0;
}

footer .menu {
  font-weight: 600;
  text-transform: uppercase;
  float: right;
}

footer .menu a {
  color: #989898;
}
footer .menu a:hover,
footer .menu a:focus {
  text-decoration: underline;
}
footer li:after {
  content: '/';
  color: #989898;
  margin: 0 8px;
}
footer li:last-child:after {
  content: '';
}
