// SCSS Variables
$primary-blue: #74b9ff;
$primary-red: #ff6b6b;
$primary-green: #55efc4;
$primary-pink: #ff6bb5;
$text-dark: #434647;
$text-light: #6f74769e;
$text-muted: #4e51529e;
$white: #fff;
$light-gray: #efefef;
$transition: all 0.3s ease;

body {
  margin: 0;
  padding: 0;
  padding-top: 180px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 100px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 20px;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: $text-dark;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $primary-blue;
    text-decoration: underline;
    text-underline-offset: 20px;
  }
}

.logo {
  font-weight: 200;
  color: $primary-blue;
  margin: 0;
  padding-left: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container__text {
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-container__button {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  background-color: $primary-blue;
  color: $white;
  text-decoration: none;
  padding: 15px 100px;
  border-radius: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: $transition;
  cursor: pointer;
}

.main-container__button:hover {
  transform: scale(1.05);
}

.main-container__image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}

.achievements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.badge-red {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $primary-red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-blue {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $primary-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-green {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $primary-green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-red img,
.badge-blue img,
.badge-green img {
  transform: translateX(15px);
  width: 40px;
  height: 40px;
}

.badge-container p {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.badge-container p:not(.badge-number) {
  color: #ccc;
}

.badge-number {
  font-weight: bold;
  letter-spacing: 6px;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: $light-gray;
  padding: 50px 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
}

.article-container__content-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  /* position: relative; */
}

.article-container__text {
  width: 50%;
  text-align: left;
}

.article-container__content-1 img {
  width: 50%;
}

.article-line-red {
  width: 80%;
  height: 3px;
  background-color: $primary-pink;
  margin-top: 20px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  margin-left: 0;
}

.article-container__content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 200px;
}

.article-container__content-2 img {
  width: 50%;
  height: 200px;
  object-fit: contain;
}

.article-container__text-2 {
  width: 50%;
  text-align: left;
}

.article-line-blue {
  width: 80%;
  height: 3px;
  background-color: $primary-blue;
  margin-top: 20px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  margin-left: 0;
  margin-right: auto;
}

.article-aside-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 880px;
}

.article-container {
  width: 60%;
  min-height: 200px;
}

.article-container__content-3 {
  width: 100%;
}

.article-container__text-3 {
  text-align: left;
  width: 100%;
}

.article-line-green {
  width: 80%;
  height: 3px;
  background-color: $primary-green;
  margin-top: 20px;
  margin-left: 0;
  border: none;
  box-shadow: none;
}

.aside-container {
  width: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.aside-container img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.pricing-container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 0px;
}

.pricing-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.pricing-container__item.basic,
.pricing-container__item.professional,
.pricing-container__item.enterprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 250px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.2s ease;
  position: relative;
}

.pricing-container__item.basic {
  border: 1px solid $primary-red;
}

.pricing-container__item.professional {
  border: 1px solid $primary-blue;
}

.pricing-container__item.enterprise {
  border: 1px solid $primary-green;
}

.price-basic {
  color: $primary-red;
  font-size: 35px;
}

.price-professional {
  color: $primary-blue;
  font-size: 35px;
}

.price-enterprise {
  color: $primary-green;
  font-size: 35px;
}

.pricing-container__item.basic:hover {
  border: 1px solid $primary-red;
  box-shadow: 0 12px 24px rgba(255, 107, 107, 0.35);
  transform: scale(1.1);
}

.pricing-container__item.professional:hover {
  border: 1px solid $primary-blue;
  box-shadow: 0 12px 24px rgba(116, 185, 255, 0.35);
  transform: scale(1.1);
}

.pricing-container__item.enterprise:hover {
  border: 1px solid $primary-green;
  box-shadow: 0 12px 24px rgba(85, 239, 196, 0.35);
  transform: scale(1.1);
}

.pricing-button {
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: $transition;
}

.pricing-button.red {
  background-color: $primary-red;
}

.pricing-button.blue {
  background-color: $primary-blue;
}

.pricing-button.green {
  background-color: $primary-green;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-container__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  max-width: 400px;
}

.contact-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 400px;
}

.contact-container__contact p {
  font-size: 15px;
  margin-bottom: 20px;
}

.contact-container__contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-container__contact-links a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: $text-light;
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $primary-blue;
  }
}

.contact-container__form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.contact-container__form label:not(.checkbox-label) {
  color: $primary-blue;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-container__form-line {
  width: 100%;
  height: 1px;
  background-color: $text-light;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

.contact-container__form input[type='text'],
.contact-container__form input[type='email'] {
  border: none;
  box-shadow: none;
}

.contact-container__form span,
footer p {
  font-size: 12px;
  font-weight: 400;
  color: $text-muted;
}

.submit-btn {
  align-items: end;
  background-color: $primary-blue;
  font-size: 12px;
  color: $white;
  border-radius: 40px;
  border: none;
  padding: 15px 80px;
  margin-left: auto;
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
  }
}

footer {
  padding: 20px 100px;
  box-shadow: 0 -8px 20px rgba(128, 128, 128, 0.3);
}

footer p {
  padding-left: 20px;
}
